* {
    font-size:large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.row {
    background-color: hsla(0, 0%, 71%, 0.921);
    box-shadow: 0 0 9px 0 rgba(10, 10, 10, 10.3);
    padding: 3%;
}
.container {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
.form-control:focus {
    border-color: black;
    box-shadow: 0 0 8px black;
}
button {
    text-shadow: 1px 1px 2px rgb(60, 13, 13), 0 0 1em black, 0 0 0.6em black;
    background-color: hsla(0, 5%, 6%, 0.921);
}