body {

     /* Yritin laittaa kuvat vierekkäin ja koko sivua pienemmäksi */
    font-size: larger;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    height: 80px;
    opacity: 0.7;
    margin-bottom: 25px;
}

.section {
    background-color: black;
    width: 75%;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
}

.section a {
    text-decoration: none;
    font-size: 16px; 
    opacity: 0.8;
    font-weight: bolder;
}

.section a:hover {
    color: rgb(164, 5, 5);
}

.section img {
    width: 80px; /* Leveys*/
    display: inline-block; /* Näyttää kuvat samalla tasolla */
    margin: 10px;
}

.section p {
    font-size: 16px; 
    text-align: left;
    padding-left: 20px;
}

footer {
    margin-top: 60px;
    height: 80px;
    opacity: 0.7;
}

footer p {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}

@media screen and (max-width: 400px) {
    header, footer {
      flex-direction: column;
      height: auto;
    }

    header h1 {
        padding-left: 10px;
    }

    .section {
        width: 80%;
    }

    .section img {
        width: 40px;
    }

    .section p {
        font-size: 14px;
        padding-left: 0;
        text-align: center;
    }

    footer p {
        padding-left: 10px; 
        padding-top: 10px;
        font-size: 16px; 
    }
}